.modal__content{
	top:1em !important;
}
@media (max-width:860px){
	.profile .header .layout-column.header__photo{
		margin:0 auto;
		text-align:center;
		float:none;
	}
	
	.hero--max {
		max-height: 300px;
	}
	.header.layout-row{
		text-align:center;
	}
	.profile .header .header__info .header__info__name h1{
		color:#000;
	}
	.profile .header .layout-column.layout-column--17.header__info{
		width:96%;
		margin:0 auto;
		text-align:center;
		color:#000;
		float:none;
		padding:10px 0 0 0;	
    }
	
	.layout-column.layout-column--17.header__info h2{
		font-size: 18px;
	}
	.layout-row .layout-column.layout-column--14, .layout-row .layout-column.layout-column--10{
		width:100%;
		float:none;
		margin:0 auto;
	}
	.layout-row .layout-column.layout-column--10 .button.button--white{
		background-color:#227dda;
		color:#fff;
	}
	.profile .header .header__info .header__info__action{
		float:none;
	}
	.header__info__contact a{
		color: #227dda;
	}
	.profile .box.about .box__header h2{
		border-top:none;
		margin-top:0;
		padding-top:0;
		margin-bottom:15px;
		font-size:30px !important;
	}
	.profile .box{
		padding:40px 10px;
		float:left;
	}
	.layout-row .layout-column.layout-column--10{
		margin:20px auto;
	}
	.dialog{
		min-width:250px;
	}
	.modal__content{
		left:5% !important;
	}
}