element.style {
}
rent-commercial-shops-in-faridabad-ffidmedia="all"
.srpWrap {
  position: relative;
  float: left;
  width: 100%;
  border: 1px #ddd solid;
  cursor: pointer;
  margin-bottom: 16px;
  border-radius: 0;
  box-shadow: none;
}
rent-commercial-shops-in-faridabad-ffidmedia="all"
div, a, span, i, em {
  outline: none;
}
rent-commercial-shops-in-faridabad-ffidmedia="all"
* {
  border-radius: 0px !important;
}
rent-commercial-shops-in-faridabad-ffidmedia="all"
* {
  font-family: 'Open Sans',Arial,Helvetica,sans-serif!important;
}
user agent stylesheetdiv {
  display: block;
}
Inherited from 
rent-commercial-shops-in-faridabad-ffidmedia="all"
* {
  font-family: 'Open Sans',Arial,Helvetica,sans-serif!important;
}
Inherited from 
rent-commercial-shops-in-faridabad-ffidmedia="all"
* {
  font-family: 'Open Sans',Arial,Helvetica,sans-serif!important;
}
Inherited from 
rent-commercial-shops-in-faridabad-ffidmedia="all"
* {
  font-family: 'Open Sans',Arial,Helvetica,sans-serif!important;
}
Inherited from 
rent-commercial-shops-in-faridabad-ffidmedia="all"
* {
  font-family: 'Open Sans',Arial,Helvetica,sans-serif!important;
}
Inherited from 
rent-commercial-shops-in-faridabad-ffidmedia="all"
body, td {
  font-size: 11px;
}
rent-commercial-shops-in-faridabad-ffidmedia="all"
* {
  font-family: 'Open Sans',Arial,Helvetica,sans-serif!important;
}
Inherited from 
rent-commercial-shops-in-faridabad-ffidmedia="all"
* {
  font-family: 'Open Sans',Arial,Helvetica,sans-serif!important;
}
Pseudo ::-webkit-scrollbar-track element
rent-commercial-shops-in-faridabad-ffidmedia="all"
::-webkit-scrollbar-track {
  background: #ececec;
  width: 0px;
  display: table-cell;
  vertical-align: middle;
  border: 1px solid rgba(0,0,0,0.3);
}
Pseudo ::-webkit-scrollbar element
rent-commercial-shops-in-faridabad-ffidmedia="all"
::-webkit-scrollbar {
  width: 10px;
  background: transparent;
}
Pseudo ::-webkit-scrollbar-thumb element
rent-commercial-shops-in-faridabad-ffidmedia="all"
::-webkit-scrollbar-thumb {
  background: #aaa;
  border: 1px solid rgba(255,255,255,1);
  border-width: 1px 0;
  border-radius: 0;
}